@import url("https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700|Lato:400,400i,700,700i");

/* 
font-family: 'Cinzel Decorative', cursive;
font-family: 'Lato', sans-serif; 
*/

.login-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    width: 300px;
    height: 100%;
    margin-top: 50px;
}

.input-box {
    margin-bottom: 10px;
    border-radius: 3px 3px;
    text-indent: 10px;
    width: 230px;
    height: 28px;
    border: none;
}

#login-box,
#signup-box {
    background-color: rgba(255, 255, 255, 0.52);
    border: 0.5px solid lightgrey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#login-box {
    margin-bottom: 10px;
}

h4,
#signup-agreement {
    color: gray;
}

#app-name {
    font-family: "Cinzel Decorative", cursive;
    font-weight: bold;
}

.button {
    -webkit-appearance: none;
    color: white;
    font-weight: bold;
    background-color: rgb(62, 153, 237);
    border: rgb(62, 153, 237);
    border-radius: 3px 3px;
    width: 230px;
    height: 28px;
    font-size: 14px;
    opacity: 1;
    transition: 0.3s;
}

#forgot-link {
    color: black;
}

a {
    color: rgb(62, 153, 237);
    text-decoration-line: none;
    opacity: 1;
    transition: 0.3s;
}

.button:hover,
a:hover {
    opacity: 0.6
}