@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700|Lato:400,400i,700,700i');

/* 
font-family: 'Cinzel Decorative', cursive;
font-family: 'Lato', sans-serif; 
*/

body {
    background-image: url("./images/bg.jpg");
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
}

.signup-container {
    font-family: 'Lato', sans-serif;
    text-align: center;
    width: 300px;
    height: 100%;
    margin-top: 50px;    
}

.input-box {
    margin-bottom: 10px;
    width: 200px;
    height: 25px;
    
}

#register-box,
#login-box {
    background-color: rgba(255, 255, 255, 0.52);
    border: .5px solid lightgrey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#register-box {
    margin-bottom: 10px;
}

h4,
#signup-agreement {
    color: gray;
}

#app-name {
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
}

.button {
    -webkit-appearance: none;
}